:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF;
  background-color: #272729;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 20px;
  min-width: 320px;
  min-height: calc(100vh - 40px);

  display: flex;
  place-items: center;
  justify-content: center;
  border: 10px solid #fff;

  box-sizing: border-box;
}

h1 {
  margin: 20px;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
